<p id="notice"><%= notice %></p>

<p>
  <strong>Invoice:</strong>
  <%= @product.Invoice %>
</p>

<p>
  <strong>Product name:</strong>
  <%= @product.Product_Name %>
</p>

<p>
  <strong>Category:</strong>
  <%= @product.Category %>
</p>

<p>
  <strong>Product url:</strong>
  <%= @product.Product_URL %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @product.Quantity %>
</p>

<p>
  <strong>Details:</strong>
  <%= @product.Details %>
</p>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
